<% provide(:title, "About") %>
<h1><%= t(".title") %></h1>
<p>
  The <%= link_to "Ruby on Rails Tutorial", Settings.rails.url %> is a
  <%= link_to "book", Settings.rails.book %> and
  <%= link_to "screencast series", Settings.screencast.url %>
  to teach web development with
  <%= link_to "Ruby on Rails", Settings.ruby_on_rails.url %>
  <%= t(".body") %>
</p>
