<div class = "center jump jumbotron">
  <h1><%= t(".title") %></h1>
  <h2>
    <%= raw t(".content.main", rails_url: link_to(t(".content.rails"), Settings.rails.url)) %>
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
  Settings.ruby_on_rails.url %>

<%= link_to image_tag("kitten.jpg", alt: "Rails logo"),
  Settings.ruby_on_rails.url %>
